<div class="containter">
  <div class="starter-template">
    <h1>その感動を、貯める。シェアする。</h1>
    <p class="lead">
      ゲーム実況好きのゲーム実況好きによるゲーム実況好きのためのコミュニティサービス<br>
    </p>
    <div>
      <%= @txt %>
    </div>
  </div>
</div>