<div class="container grid-container">
  <div class="page-header">
    <h1>グリッドの練習</h1>
    <p class="lead">今日も一日がんばるぞい<i class="glyphicon glyphicon-glass"></i></p>
  </div>

  <h2>Three equal columns</h2>
  <div class="row">
    <div class="col-md-4">りんご</div>
    <div class="col-md-4">みかん</div>
    <div class="col-md-4">ばなな</div>
  </div>


  <h2>Three unequal columns</h2>
  <div class="row">
    <div class="col-md-3">さん</div>
    <div class="col-md-7">なな</div>
    <div class="col-md-2">にー</div>
  </div>

  <h2>Two columns with tow nested columns</h2>
  <div class="row">
    <div class="col-md-8">
      はち
      <div class="row">
        <div class="col-md-3">さん</div>
        <div class="col-md-9">きゅー</div>
      </div>
    </div>
    <div class="col-md-4">よん</div>
  </div>


</div>