<div class="container">
  <div class="list-group">
    <%= link_to 'theme', examples_theme_path, class: 'list-group-item' %>
    <%= link_to 'grid', examples_grid_path, class: 'list-group-item' %>
  </div>

</div>

