<div class="container theme-showcase" role="main">

  <div class="jumbotron">
    <h1>ReplayBankへようこそ！</h1>
    <p>
      実況プレイ動画が楽しめるよ。SNSだから人とワイワイ楽しめるよ。
      コメントができるよ。ファボれるよ。動画を投稿できるよ。スマホアプリもあるよ。
      まとめが流行ると人気キュレータになれるかもよ。
    </p>

    <p><a href="#" class="btn btn-primary btn-lg" role="button">さっそく始める >></a></p>
  </div>
  <div class="page-header">
    <h2>ボタン</h2>
  </div>
  <p>
    <button type="button" class="btn btn-lg btn-default">デフォ</button>
    <button type="button" class="btn btn-lg btn-primary">プライマリ</button>
    <button type="button" class="btn btn-lg btn-success">成功</button>
    <button type="button" class="btn btn-lg btn-info">情報</button>
    <button type="button" class="btn btn-lg btn-warning">警告</button>
    <button type="button" class="btn btn-lg btn-danger">危険</button>
    <button type="button" class="btn btn-lg btn-link">リンク</button>
  </p>

  <div class="page-header">
    <h2>サムネ</h2>
  </div>
  <%= image_tag  'chiyo.jpg' , class: "img-thumbnail",  width: "200px" %>

  <div class="page-header">
    <h2>ラベル</h2>
  </div>
  <p>
    <span class="label label-default">デフォルト</span>
    <span class="label label-primary">プライマリ</span>
    <span class="label label-success">成功</span>
  </p>

  <div class="page-header">
    <h2>バッヂ</h2>
  </div>
  <p><a href="#">受信箱<span class="badge">82</span></a></p>


  <div class="page-header">
    <h2>ドロップダウンメニュー</h2>
  </div>
  <div class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ドロップダウン</a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">アクション</a></li>
      <li><a href="#">レース</a></li>
      <li><a href="#">ソシャゲ</a></li>
      <li class="divider"></li>
      <li><a href="#">FPS</a></li>
    </ul>
  </div>

  <div class="page-header">
    <h2>ナビゲーション</h2>
  </div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#">ホーム</a></li>
    <li><a href="#">プロフィール</a></li>
    <li><a href="#">メッセージ</a></li>
  </ul>

  <div class="page-header">
    <h2>アラート</h2>
  </div>
  <div class="alert alert-success" role="alert">
    <strong>成功！</strong> やったねタエちゃん！家族が増えるよ！
  </div>
  <div class="alert alert-danger" role="alert">
    <strong>注意</strong>　まだメールの確認が終わってません。
  </div>

  <div class="page-header">
    <h2>プログレスバー</h2>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="20"
         aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
  </div>

  <div class="page-header">
    <h2>パネル</h2>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">たいとるだよー</h3></div>
        <div class="panel-body">中身はこちらかな？ 改行が必要なくらい文字数があるとどうなるん？</div>
      </div>
    </div>
  </div>

</div>







