.hoge {
  background-color: #afa;
  float: right;
}

.nav-name {
  color: #fff;
  line-height: 20px;
  margin: 15px 10px;
}

ul.navbar-right li.nav-name div.dropdown {
  > a {
    color: #ccc;
    text-decoration: none;
    &:hover {
      color: #fff;
      font-weight: bold;
    }
  }
  ul.dropdown-menu li a {
    color: #000;
  }
}